.profile-card {
  flex-direction: column;
  display: flex;
  height: 250px;
  background: white;
  border-radius: 16px;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 250px;
  align-items: center;
  justify-content: center;
}

.profile-card__image {
  width: 150px;
  height: 150px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__image--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card__name--text {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.25rem;
}

.profile-card__position--text {
  font-size: 0.95rem;
  color: #666;
}
